@model BPMPlus.ViewModels.FormReviewViewModel




@section Style
{
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/daterangepicker/daterangepicker.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/AdminLTE/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!-- BS Stepper -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/bs-stepper/css/bs-stepper.min.css">
    <!-- dropzonejs -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/dropzone/min/dropzone.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">
    <style>

        #fullPage {
            background-color: #DFF1FF;
            padding: 10px;
        }

        h4 {
            color: #3D60A5;
        }

        #secondeBackground {
            background-color: #D1DEFF;
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 15px;
        }

        .formBackground {
            background-color: #D1DEFF;
            padding-left: 35px;
            padding-right: 35px;
            display: block;
            padding-top: 15px;
        }

        #formArea {
            padding-bottom: 20px;
            display: flex;
        }

            #formArea label {
                background-color: #D8D7DB;
                margin: auto;
                width: 120px;
                text-align: center;
                border-radius: 5%;
                margin-right: 20px;
            }

            #formArea input {
                width: 180px;
                height: 30px;
                display: inline;
            }

        .process {
            padding-bottom: 20px;
        }

            .process label {
                margin: auto;
                height: 30px;
                width: 120px;
                text-align: center;
            }

            .process button {
                width: 80px;
                margin-right: 10px;
            }

        table {
            text-align: center;
            line-height: 1.5;
            padding-left: 50px;
        }

        .btnArea {
            height: 60px;
            display: flex;
            align-items: center;
        }

        .btns {
            width: auto;
            margin: auto,0;
        }

        .result {
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 20px
        }

        .reviewResult {
            margin-left: 10px;
        }

            .reviewResult label {
                margin-right: 20px;
            }

        .file {
            padding-left: 50px;
        }

        .submit button {
            margin-right: 30px;
            width: 120px;
        }

        .pd {
            padding-left: 50px;
        }

        .ManagerOpinion {
            width: 100%;
            height: 200px;
        }

        .textContent {
            color: black;
        }

            .textContent[readonly] {
                resize: none;
                background-color: white;
            }

        input[type=text][readonly] {
            color: black;
            font-weight: bold;
            background-color: white;
        }

        .file {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 30px;
            padding-right: 30px;
        }

        #btnDownload{
            font-size: 14px;
        }

        #inputReview label {
            background-color:yellow;
            font-size:14px;
            justify-content:space-between;
            align-items:center;
        }

        #inputReview input{
            width:20px;
            height:20px;
        }



    </style>
}


<div id="fullPage">
    <!--  title  -->
    <div class="title">
        <h4 class="m-3">審核工單</h4>
    </div>

    <form id="formArea" asp-controller="FormReview" method="post" asp-action="CreateAndUpdate" enctype="multipart/form-data">
        <div id="secondeBackground">

            <!-- 工單區域 -->
            <div class="formBackground">
                <div class="row" style="display:flex;">
                    <div class="col-6 mb-3 form-label">
                        <input type="hidden" asp-for="@Model.UserId" />
                        <input type="hidden" asp-for="@Model.ResultId" />
                        <input type="hidden" asp-for="@Model.UserActivityId" />
                        <input type="hidden" asp-for="@Model.ProcessNodeId" />
                        <label>工單編號</label>
                        <input asp-for="@Model.FormId" type="text" class="form-control" value="@Model.FormId" readonly />
                    </div>
                    <div class="col-6 mb-3 form-label">
                        <label>建立日期</label>
                        <input asp-for="@Model.Date" type="text" class="form-control" value="@Model.Date.ToString(" yyyy-MM-dd")" readonly />
                    </div>
                    <div class="col-6 mb-3 form-label">
                        <label>需求類別</label>
                        <input asp-for="@Model.CategoryId" type="text" class="form-control" value="@Model.CategoryId" readonly />
                    </div>
                    <div class="col-6 mb-3 form-label">
                        <label>處理狀態</label>
                        <input asp-for="@Model.CurrentResults" type="text" class="form-control" value="@Model.CurrentResults" readonly />
                    </div>
                    <div class="col-6 mb-3 form-label">
                        <label>需求部門</label>
                        <input asp-for="@Model.DepartmentId" type="text" class="form-control" value="@Model.DepartmentId" readonly />
                    </div>
                    <div class="col-6 mb-3 form-label">
                        <label>指派人員</label>
                        <input asp-for="@Model.AssginEmployee" type="text" class="assignEmp form-control" value="@Model.AssginEmployee" readonly />
                    </div>
                    <div class="col-6 mb-3 form-label">
                        <label>需求員工</label>
                        <input asp-for="@Model.NeedEmployees" type="text" class="form-control" value="@Model.NeedEmployees" readonly />
                    </div>
                    <div class="col-6 mb-3 form-label">
                        <label>希望完成日期</label>
                        <input asp-for="@Model.HopeFinishDate" type="text" class="form-control" value="@Model.HopeFinishDate.ToLocalTime()" readonly />
                    </div>
                    <div class="col-6 mb-3 form-label">
                        <label>所屬專案</label>
                        <input asp-for="@Model.BelongProjects" type="text" class="form-control" value="@Model.BelongProjects" readonly />
                    </div>
                    <div class="col-6 mb-3 form-label">
                        <label>預估工時</label>
                        <input asp-for="@Model.EstimatedTime" type="text" class="EstimatedTime form-control" value="@Model.EstimatedTime" readonly />
                    </div>
                </div>
            </div>

            <!--  流程節點進度  -->
            <label style="margin-left:35px;">流程進度</label>
            <br>
            <div class="formBackground btnArea">

                <div>
                    @foreach (var activity in Model.FormProcessFlow)
                    {
                        if (activity.IsHightLight == true)
                        {
                            <button type="button" class="btn btn-sm btn-danger btns">@activity.UserActivityIdDescription</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-sm btn-primary btns">@activity.UserActivityIdDescription</button>
                        }
                    }

                </div>
            </div><br /><br />

            <!--  工單處理紀錄  -->
            <label>處理紀錄</label>
            <table class="table table-hover table-bordered ">
                <thead>
                    <tr>
                        <th>時間</th>
                        <th>處理狀態</th>
                        <th>處理人員</th>
                        <th>出示意見</th>
                        <th>審核結果</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.FormRecordList)
                    {
                        <tr>
                            <td>@item.Date.ToLocalTime()</td>
                            <td>@item.UserActivityDes</td>
                            <td>@item.UserName</td>
                            <td>@item.Remark</td>
                            <td>@item.ResultDes</td>
                        </tr>
                    }
                </tbody>
            </table>

            <!-- 需求內容/附件/出示意見 -->
            <!-- 需求內容 -->
            <div class="result">
                <label class="noteContent">需求內容</label><br>
                <div asp-for="@Model.Content" class="textContent form-control" readonly>@Html.Raw(Model.Content)</div>
            </div>

            <!-- 附件上傳/下載 -->
            <div >
                <input type="hidden" name="id" value="@Model.FormId" />
                    <div class="form-group">
                        <div class="file">
                            <div style="margin-right:600px;">
                                <label id="attachment" >附件</label>
                                <input asp-for="@Model.Files" type="file" class="form-control" multiple />
                            </div>
                            <button id="btnDownload" class="button btn btn-primary" type="button">
                                <i class="fa-solid fa-file-arrow-down"></i>  附件下載
                            </button>
                        </div>
                    </div>
            </div>

            <div class="result">
                <label class="control-label">出示意見</label><br />
                <div class="txtInput">
                    <div>
                        @* <div id="summernote"></div> *@
                        <textarea class="ManagerOpinion" asp-for="@Model.Remark">
                            @Model.Remark
                            </textarea>
                    </div>
                </div>
                <div style="display:flex; justify-content: space-between; align-items: center;">
                    <div class="reviewResult" style="flex: 1; text-align: left;">
                        <label>審核結果: </label>
                    </div>
                    <div class="reviewOptions" style="flex: 1; text-align: center;">
                            <div id="inputReview">
                            <label><input name="reviewResult" type="radio" value="reject" />退回</label>
                            <label><input name="reviewResult" type="radio" value="approve" /> 核准</label>
                            </div>
                    </div>
                    <div class="submitBtn" style="flex: 1; text-align: right;">
                        <input type="submit" class="btn btn-success btns" value="送出" />
                    </div>
                </div>

            </div>
        </div><!-- secondeBackground END -->
    </form>
</div>

@section Scripts
{
    <script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Select2 -->
    <script src="~/AdminLTE/plugins/select2/js/select2.full.min.js"></script>
    <!-- Bootstrap4 Duallistbox -->


    <script src="~/AdminLTE/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- date-range-picker -->


    <script src="~/AdminLTE/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>


    <!-- AdminLTE for demo purposes -->
    <script src="~/AdminLTE/dist/js/demo.js"></script>
    <script>
        // 一進到審核頁發請求詢問身分是否為接收方一級主管or 處理人員 or 驗收方, 是的話移除唯讀, 提供輸入指派者 or 處理人員輸入預估工時
        document.addEventListener('DOMContentLoaded', async function () {
            let formId = '@Model.FormId';
            fetch(`/FormReview/CheckEmp/?id=${formId}`, {
                method: "GET"
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status == true && data.userPermit == "07") {

                        let needEmp = document.querySelector(".assignEmp");
                        needEmp.removeAttribute("readonly");
                        let CheckEstimatedTime = document.querySelector(".EstimatedTime");
                        CheckEstimatedTime.value = "";
                        if (data.handler) {
                            needEmp.value = data.handler;
                        };
                    }
                    else if (data.status == true && data.userPermit == "08") {
                        let CheckEstimatedTime = document.querySelector(".EstimatedTime");
                        CheckEstimatedTime.removeAttribute("readonly");
                        let needEmp = document.querySelector(".assignEmp");
                        if (data.handler) {
                            needEmp.value = data.handler;
                        };
                    }
                    else if (data.status == true && data.userPermit == "09") {
                        let needEmp = document.querySelector(".assignEmp");
                        let CheckEstimatedTime = document.querySelector(".EstimatedTime");
                        if (data.handler) {
                            needEmp.value = data.handler;
                        };
                    }
                    else {
                        let CheckEstimatedTime = document.querySelector(".EstimatedTime");
                        CheckEstimatedTime.value = "";
                    }
                })
                .catch(err => {
                    alert(JSON.stringify(err));
                });

            // 前端驗證有無選擇核准or退回
            let formValid = document.getElementById("formArea");
            formValid.addEventListener("submit", function (event) {
                let rejectBtn = document.querySelector('input[name="reviewResult"][value="reject"]').checked;
                let approveBtn = document.querySelector('input[name="reviewResult"][value="approve"]').checked;
                if (!rejectBtn && !approveBtn) {
                    event.preventDefault();
                    alert("請選擇「核准」或「退回」再送出 ! ");
                } else {
                    if (!confirm("確定要送出嗎 ?")) {
                        event.preventDefault();
                    }
                }

                let form = document.getElementById("formArea");
                let formData = new FormData(form);
                
                try {
                    let response = await fetch(`/FormReview/CreateAndUpdate`, {
                        method: "POST",
                        body: formData,
                    });

                    if (response.ok) {
                        window.location.href = result.redirectUrl;  // 進行頁面重導
                    }
                    else {
                        alert("送出失敗");
                    }
                }
                catch (err) {
                    alert(JSON.stringify(err));
                };

            });
        });



        document.getElementById("btnDownload").addEventListener("click", function () {

            let userConfirmed = confirm("是否下載?");
            if (!userConfirmed) return;

            let id = '@Model.FormId';

            let formData = new FormData();
            formData.append("id", id);

            fetch(`/FormReview/Download`,
                {
                    method: 'POST',
                    body: formData

                }).then(response => {
                    if (response.ok) {
                        alert("下載成功");
                    } else {
                        alert("下載失敗");
                    }
                    return response.blob()
                })
                .then(blob => {
                    var file = window.URL.createObjectURL(blob);
                    window.location.assign(file);
                });
        })
    

            // function loadScript(url, callback) {
            //     var script = document.createElement('script');
            //     script.src = url;
            //     script.type = 'text/javascript';
            //     script.onload = function () {
            //         if (callback) {
            //             callback();
            //         }
            //     };
            //     document.head.appendChild(script);
            // }
            // loadScript('/AdminLTE/plugins/summernote/summernote-bs4.js', function () {
            //     $('#summernote').summernote('code');
            // }
            // );

    
            $(function () {
                //Initialize Select2 Elements
                $('.select2').select2()

                //Initialize Select2 Elements
                $('.select2bs4').select2({
                    theme: 'bootstrap4'
                })

                //Datemask dd/mm/yyyy
                $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
                //Datemask2 mm/dd/yyyy
                $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
                //Money Euro
                $('[data-mask]').inputmask()

                //Date picker
                $('#reservationdate').datetimepicker({
                    format: 'L'
                });

                //Date and time picker
                $('#reservationdatetime').datetimepicker({ icons: { time: 'far fa-clock' } });

                //Date range picker
                $('#reservation').daterangepicker()
                //Date range picker with time picker
                $('#reservationtime').daterangepicker({
                    timePicker: true,
                    timePickerIncrement: 30,
                    locale: {
                        format: 'MM/DD/YYYY hh:mm A'
                    }
                })
                //Date range as a button
                $('#daterange-btn').daterangepicker(
                    {
                        ranges: {
                            'Today': [moment(), moment()],
                            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                            'This Month': [moment().startOf('month'), moment().endOf('month')],
                            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                        },
                        startDate: moment().subtract(29, 'days'),
                        endDate: moment()
                    },
                    function (start, end) {
                        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
                    }
                )

                //Timepicker
                $('#timepicker').datetimepicker({
                    format: 'LT'
                })

                //Bootstrap Duallistbox
                $('.duallistbox').bootstrapDualListbox()

                //Colorpicker
                $('.my-colorpicker1').colorpicker()
                //color picker with addon
                $('.my-colorpicker2').colorpicker()

                $('.my-colorpicker2').on('colorpickerChange', function (event) {
                    $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
                })

                $("input[data-bootstrap-switch]").each(function () {
                    $(this).bootstrapSwitch('state', $(this).prop('checked'));
                })

            })
            // BS-Stepper Init
            document.addEventListener('DOMContentLoaded', function () {
                window.stepper = new Stepper(document.querySelector('.bs-stepper'))
            })

            // DropzoneJS Demo Code Start
            Dropzone.autoDiscover = false

            // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
            var previewNode = document.querySelector("#template")
            previewNode.id = ""
            var previewTemplate = previewNode.parentNode.innerHTML
            previewNode.parentNode.removeChild(previewNode)

            var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
                url: "/target-url", // Set the url
                thumbnailWidth: 80,
                thumbnailHeight: 80,
                parallelUploads: 20,
                previewTemplate: previewTemplate,
                autoQueue: false, // Make sure the files aren't queued until manually added
                previewsContainer: "#previews", // Define the container to display the previews
                clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
            })

            myDropzone.on("addedfile", function (file) {
                // Hookup the start button
                file.previewElement.querySelector(".start").onclick = function () { myDropzone.enqueueFile(file) }
            })

            // Update the total progress bar
            myDropzone.on("totaluploadprogress", function (progress) {
                document.querySelector("#total-progress .progress-bar").style.width = progress + "%"
            })

            myDropzone.on("sending", function (file) {
                // Show the total progress bar when upload starts
                document.querySelector("#total-progress").style.opacity = "1"
                // And disable the start button
                file.previewElement.querySelector(".start").setAttribute("disabled", "disabled")
            })

            // Hide the total progress bar when nothing's uploading anymore
            myDropzone.on("queuecomplete", function (progress) {
                document.querySelector("#total-progress").style.opacity = "0"
            })

            // Setup the buttons for all transfers
            // The "add files" button doesn't need to be setup because the config
            // `clickable` has already been specified.
            document.querySelector("#actions .start").onclick = function () {
                myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED))
            }
            document.querySelector("#actions .cancel").onclick = function () {
                myDropzone.removeAllFiles(true)
            }
            // DropzoneJS Demo Code End


            $(function () {
                //Initialize Select2 Elements
                $('.select2').select2()

                //Initialize Select2 Elements
                $('.select2bs4').select2({
                    theme: 'bootstrap4'
                })

                //Datemask dd/mm/yyyy
                $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
                //Datemask2 mm/dd/yyyy
                $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
                //Money Euro
                $('[data-mask]').inputmask()

                //Date picker
                $('#reservationdate').datetimepicker({
                    format: 'L'
                });

                //Date and time picker
                $('#reservationdatetime').datetimepicker({ icons: { time: 'far fa-clock' } });

                //Date range picker
                $('#reservation').daterangepicker()
                //Date range picker with time picker
                $('#reservationtime').daterangepicker({
                    timePicker: true,
                    timePickerIncrement: 30,
                    locale: {
                        format: 'MM/DD/YYYY hh:mm A'
                    }
                })
                //Date range as a button
                $('#daterange-btn').daterangepicker(
                    {
                        ranges: {
                            'Today': [moment(), moment()],
                            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                            'This Month': [moment().startOf('month'), moment().endOf('month')],
                            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                        },
                        startDate: moment().subtract(29, 'days'),
                        endDate: moment()
                    },
                    function (start, end) {
                        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
                    }
                )

                //Timepicker
                $('#timepicker').datetimepicker({
                    format: 'LT'
                })

                //Bootstrap Duallistbox
                $('.duallistbox').bootstrapDualListbox()

                //Colorpicker
                $('.my-colorpicker1').colorpicker()
                //color picker with addon
                $('.my-colorpicker2').colorpicker()

                $('.my-colorpicker2').on('colorpickerChange', function (event) {
                    $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
                })

                $("input[data-bootstrap-switch]").each(function () {
                    $(this).bootstrapSwitch('state', $(this).prop('checked'));
                })

            })
            // BS-Stepper Init
            document.addEventListener('DOMContentLoaded', function () {
                window.stepper = new Stepper(document.querySelector('.bs-stepper'))
            })

            // DropzoneJS Demo Code Start
            Dropzone.autoDiscover = false

            // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
            var previewNode = document.querySelector("#template")
            previewNode.id = ""
            var previewTemplate = previewNode.parentNode.innerHTML
            previewNode.parentNode.removeChild(previewNode)

            var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
                url: "/target-url", // Set the url
                thumbnailWidth: 80,
                thumbnailHeight: 80,
                parallelUploads: 20,
                previewTemplate: previewTemplate,
                autoQueue: false, // Make sure the files aren't queued until manually added
                previewsContainer: "#previews", // Define the container to display the previews
                clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
            })

            myDropzone.on("addedfile", function (file) {
                // Hookup the start button
                file.previewElement.querySelector(".start").onclick = function () { myDropzone.enqueueFile(file) }
            })

            // Update the total progress bar
            myDropzone.on("totaluploadprogress", function (progress) {
                document.querySelector("#total-progress .progress-bar").style.width = progress + "%"
            })

            myDropzone.on("sending", function (file) {
                // Show the total progress bar when upload starts
                document.querySelector("#total-progress").style.opacity = "1"
                // And disable the start button
                file.previewElement.querySelector(".start").setAttribute("disabled", "disabled")
            })

            // Hide the total progress bar when nothing's uploading anymore
            myDropzone.on("queuecomplete", function (progress) {
                document.querySelector("#total-progress").style.opacity = "0"
            })

            // Setup the buttons for all transfers
            // The "add files" button doesn't need to be setup because the config
            // `clickable` has already been specified.
            document.querySelector("#actions .start").onclick = function () {
                myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED))
            }
            document.querySelector("#actions .cancel").onclick = function () {
                myDropzone.removeAllFiles(true)
            }
        // DropzoneJS Demo Code End
    </script>
}
    



