@model IEnumerable<BPMPlus.ViewModels.AdminQueryFormsViewModel>

@section Style {
    <link rel="stylesheet" href="~/font-awesome/css/all.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
    <style>
        .content-wrapper {
            background-image: linear-gradient(135deg, #f5f7fa 0%, #f2f7ff 100%);
        }

        .connectedSortable {
            padding:20px;
        }

        #mainpart {
            padding: 20px;
        }

        #formsTable {
            text-align: center;
        }

        .inputFormId input[type="text"] {
            border-bottom: 1px solid #ced4da;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            background-color: #fff;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            outline: none;
            width: 80%;
        }

        .createddate {
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            padding: 0.375rem 0.75rem;
            background-color: #fff;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            outline: none;
            width: 80%
        }

        #deleteSelected {
            width: 150px;
            height: 40px;
            margin-right: 5px;
            text-align: center;
        }

        #recoverySelected {
            width: 150px;
            height: 40px;
            text-align: center;
        }

        .delete-single {
            min-width: 50px;
        }

        .recovery-single {
            min-width: 50px;
        }

        #recoverySelected:disabled {
            opacity: 0.2;
        }

        .recovery-single:disabled {
            opacity: 0.2;
        }

        #formsTable td {
            text-align: center;
            vertical-align: middle;
        }

        #formsTable th {
            text-align: center;
            vertical-align: middle;
        }

        #formsTable td button {
            margin: 2px;
            padding: 5px 8px;
            font-size: 0.85rem; 
            min-width: 50px;
            white-space: nowrap;
        }

        #formsTable th:last-child,
        #formsTable td:last-child {
            min-width: 80px;
            white-space: nowrap;
        }

        @@media (max-width: 1200px) {
            #formsTable td button {
                font-size: 0.75rem;
                padding: 4px 6px;
            }
        }

        #selectAll {
            margin-left: 5px;
        }

        .pageTitle{
            color: #333333;
            font-weight: bold;
            margin-bottom: 30px;
        }

    </style>
}

<div class="container-fluid">
        <div class="row">
            <section class="connectedSortable">
                <h2 class="pageTitle">查詢工單</h2>
                    <div id="mainpart" class="card">
                        <div class="row justify-content-between mb-3">

                            <div class="col-2 d-flex justify-content-center inputFormId">
                                <input type="text" class="btn fID" placeholder="工單編號搜尋" />
                            </div>

                            <div class="col-2 d-flex justify-content-center">
                                <select name="DepartmentName" class="form-select selectbtn selectDepartment" asp-items="ViewBag.Department">
                                    <option value="" selected>全部部門</option>
                                </select>
                            </div>

                            <div class="col-2 d-flex justify-content-center">
                                <select name="Categories" class="form-select selectbtn selectCategoryId" asp-items="ViewBag.Category">
                                    <option value="" selected>全部需求項目</option>
                                </select>
                            </div>

                            <div class="col-2 d-flex justify-content-center">
                                <select name="ProjectName" class="form-select selectbtn selectProjectId" asp-items="ViewBag.Project">
                                    <option value="" selected>全部專案</option>
                                </select>
                            </div>

                            <div class="col-2 d-flex justify-content-center">
                                <select name="FormActive" class="form-select selectbtn selectFormActive" asp-items="ViewBag.FormActive">
                                    <option value="" selected>工單狀態</option>
                                </select>
                            </div>

                            <div class="col-2 d-flex justify-content-center">
                                <input type="date" class="createddate" min="2024-01-01" />
                            </div>

                            <div class="row justify-content-md-center mb-3 mt-5">
                                <button id="deleteSelected" class="btn btn-danger">批次刪除</button>
                                <button id="recoverySelected" class="btn btn-success">批次復原</button>
                            </div>

                        </div>

                        <table id="formsTable" class="table table-striped table-hover table-bordered">
                            <thead class="table-light table-bordered">
                                <tr>
                                    <th>全選<input type="checkbox" id="selectAll" /></th>
                                    <th>工單號碼</th>
                                    <th>部門</th>
                                    <th>員工編號</th>
                                    <th>姓名</th>
                                    <th>需求項目</th>
                                    <th>專案項目</th>
                                    <th>流程進度</th>
                                    <th>更新時間</th>
                                    <th>工單狀態</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>

                                @if (Model != null && Model.Any())
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td><input type="checkbox" class="form-checkbox" value="@item.FormId" /></td>
                                            <td>@item.FormId</td>
                                            <td>@item.DepartmentName</td>
                                            <td>@item.EmployeeId</td>
                                            <td>@item.UserName</td>
                                            <td>@item.Categories</td>
                                            <td>@item.ProjectName</td>
                                            <td>@item.UserActivityDescription</td>
                                            <td>@item.CreatedTime</td>
                                            <td>@item.FormActive</td>
                                            <td>
                                                <button class="btn btn-danger btn-sm delete-single" data-id="@item.FormId">刪除</button>
                                                <button class="btn btn-success btn-sm recovery-single" data-id="@item.FormId">復原</button>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>找不到工單 請重新搜尋</tr>
                                }


                            </tbody>
                        </table>
                    </div>
            </section>
        </div>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            // 設定datatable排版
            var table = $("#formsTable").DataTable({
                "dom": `<'row'<'col-sm-12 col-md-3'><'col-sm-12 col-md-3'f><'col-sm-12 col-md-3'l>>
                            <'row'<'col-sm-12'tr>>
                            <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>`,
                "pageLength": 10,
                "order": [[1, "desc"]],
               "language": {
                        "lengthMenu": "顯示 _MENU_ 項結果",
                        "info": "顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項",
                        "infoEmpty": "顯示第 0 至 0 項結果，共 0 項",
                        "infoFiltered": "(由 _MAX_ 項結果過濾)",
                        "search": "搜尋:",
                        "zeroRecords": "沒有匹配結果",
                        "paginate": {
                            "first": "第一頁",
                            "previous": "上一頁",
                            "next": "下一頁",
                            "last": "最後一頁"
                    }
                },
                // 自定義data實際需要欄列資料
                "columnDefs": [
                    {
                        "data": null,
                        "defaultContent": "<input type='checkbox' class='form-checkbox' />",
                        "targets": 0,
                        "orderable": false,
                        "className": "dt-body-center"
                    },
                    { "data": "formId", "targets": 1 },
                    { "data": "departmentName", "targets": 2 },
                    { "data": "employeeId", "targets": 3 },
                    { "data": "userName", "targets": 4 },
                    { "data": "categories", "targets": 5 },
                    { "data": "projectName", "targets": 6 },
                    { "data": "userActivityDescription", "targets": 7 },
                    { "data": "createdTime", "targets": 8 },
                    { "data": "formActive", "targets": 9 },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            return "<button class='btn btn-danger btn-sm delete-single' data-id='" + row.formId + "'>刪除</button> " +
                                "<button class='btn btn-success btn-sm recovery-single' data-id='" + row.formId + "'>復原</button>";
                        },
                        "targets": 10,
                        "orderable": false
                    }
                ],
                "drawCallback": function (settings) {
                    bindDeleteEvents();
                }
            });

            // 隱藏復原按鈕方法
            // 檢查表格中每一個tr的工單狀態
            // 是生效就隱藏復原btn , 反之顯現
            function updateButtonStatus() {
                table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                    var data = this.data();                 // 抓取DataTables數據
                    var $row = $(this.node());         // 抓取該row == 抓tr
                    var $recoveryButton = $row.find('.recovery-single');

                    if (data.formActive === "生效") {
                        $recoveryButton.prop('disabled', true);
                    } else {
                        $recoveryButton.prop('disabled', false);
                    }
                });

                updateBatchRecoveryButtonStatus();
            }

            // 啟用隱藏復原按鈕方法
            updateButtonStatus();

            // 更新批次復原按鈕狀態
            function updateBatchRecoveryButtonStatus() {
                var $batchRecoveryButton = $('#recoverySelected');
                var hasActiveChecked = false;

                // 遍歷有被選中的checkbox, 找其tr的內容檢查如果formActive === "生效", 代表狀態是true, 回傳false,
                // 因為被選中的tr是生效所以將批次刪除的btn隱藏
                table.$('input:checked').each(function () {
                    var rowData = table.row($(this).closest('tr')).data();
                    if (rowData.formActive === "生效") {
                        hasActiveChecked = true;
                        return false;
                    }
                });
                $batchRecoveryButton.prop('disabled', hasActiveChecked);
            }

            // 每次當checkbox狀態改變時更新批次復原按鈕
            table.on('change', 'input[type="checkbox"]', function () {
                updateBatchRecoveryButtonStatus();
            });

            // 全選
            $('#selectAll').on("click", function () {
                $(".form-checkbox").prop("checked", this.checked);
                updateBatchRecoveryButtonStatus();
            });

            function bindDeleteEvents() {
                // 單筆刪除
                // 設定off click防止事件重覆觸發, 並在刪除row時不重新繪製, 保持原本查詢的順序, 只刪除指定列
                $(".delete-single").off("click").on("click", function () {
                    var formId = $(this).data("id");
                    var row = $(this).closest("tr");
                    if (confirm("確定要刪除此工單嗎？")) {
                        $.ajax({
                            url: `/AdminQueryForms/DeleteSingle`,
                            method: "POST",
                            data: { formId: formId },
                            success: function (data) {
                                if (data.success) {
                                    alert("成功 ! ");
                                    table.row(row).remove().draw(false);
                                } else {
                                    alert("刪除失敗：" + data.message);
                                }
                            }
                        });
                    }
                });
            }

            // 批次刪除
            // 遍歷尋找有被選中的checkbox, 向上尋找找到tr的data內的formId, 加入進陣列
            // 成功刪除後全選框取消勾選, 並將畫面上有被勾選的tr移除並保持原本查詢順序
            $("#deleteSelected").on("click", function () {
                var selectedIds = [];
                table.$("input:checked").each(function () {
                    selectedIds.push(table.row($(this).closest("tr")).data().formId);
                });

                if (selectedIds.length === 0) {
                    alert("請選擇至少一筆資料進行刪除");
                    return;
                }

                if (confirm("確定要批次刪除這些工單嗎？")) {
                    $.ajax({
                        url: `/AdminQueryForms/DeleteMany`,
                        method: "POST",
                        data: { formIds: selectedIds },
                        traditional: true,
                        success: function (data) {
                            if (data.success) {
                                alert("成功 ! ");
                                $("#selectAll").prop("checked", false);
                                table.rows(table.$("input:checked").closest("tr")).remove().draw(false);
                            } else {
                                alert("批次刪除失敗：" + data.message);
                            }
                        }
                    });
                }
            });

            // 單筆復原
            $(".table").on("click", ".recovery-single", function () {
                var formId = $(this).data("id");
                if (confirm("確定要復原此工單嗎？")) {
                    $.ajax({
                        url: `/AdminQueryForms/RecoverySingle`,
                        method: "POST",
                        data: { formId: formId },
                        success: function (data) {
                            if (data.success) {
                                alert("成功 ! ");
                                location.reload();
                            } else {
                                alert("復原失敗：" + data.message);
                            }
                        }
                    });
                }
            });

            // 批次復原
            $("#recoverySelected").on("click", function () {
                var selectedIds = [];
                table.$('input:checked').each(function () {
                    selectedIds.push(table.row($(this).closest("tr")).data().formId);
                });

                if (selectedIds.length === 0) {
                    alert("請選擇至少一筆資料進行復原");
                    return;
                }

                if (confirm("確定要復原這些工單嗎？")) {
                    $.ajax({
                        url: `/AdminQueryForms/RecoveryMany`,
                        method: "POST",
                        data: { formIds: selectedIds },
                        success: function (data) {
                            if (data.success) {
                                alert("成功 ! ");
                                location.reload();
                            } else {
                                alert("批次復原失敗：" + data.message);
                            }
                        }
                    });
                }
            });


            // 使用防抖
            // 定義時間變數, 當時間到時回傳function executedFunction
            // function executedFunction內定義 later
            // 當叫用later參數時會先清除timeout內的計時, 然後叫用當初傳入的參數...args
            // 然後在要return時, 也會先清除計時, 然後開始設置新的timeout, 並設定當初傳入的參數以及wait的時間來做計算
            // function debounce(func, wait) {
            //     let timeout;
            //     return function executedFunction(...args) {
            //         const later = () => {
            //             clearTimeout(timeout);
            //             func(...args);
            //         };
            //         clearTimeout(timeout);
            //         timeout = setTimeout(later, wait);
            //     };
            // }

            // 使用防抖
            // 定義時間變數, 當回傳參數時會先清除計時
            // 再開始計時
            function debounce(func, wait) {
                let timer;
                return (...args) => {
                    clearTimeout(timer);
                    timer = setTimeout(() => {
                        func(...args);
                    }, wait);
                };
            }

            // 定義複合搜尋功能
            // 將條件項目放進物件傳進後端API
            // 成功的話將table清空, 檢查是否有值, 有的話將table繪製出
            function CompositeSearch() {
                var compositeData = {
                    formId: $(".fID").val().trim(),
                    departmentId: $(".selectDepartment").val(),
                    categoryId: $(".selectCategoryId").val(),
                    projectId: $(".selectProjectId").val(),
                    formIsActive: $(".selectFormActive").val(),
                    createdDate: $(".createddate").val()
                };
                $.ajax({
                    url: `/AdminQueryForms/CompositeSearch`,
                    type: "GET",
                    data: compositeData,
                    success: function (data) {
                        table.clear();
                        if (Array.isArray(data) && data.length > 0) {
                            table.rows.add(data).draw();
                            updateButtonStatus();
                        }
                        else {
                            console.log("工單查詢失敗，請稍後再試");
                            table.draw();
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log("工單查詢失敗，請稍後再試：" + error);
                        table.clear().draw();
                    }
                });
            }

            const debouncedSearch = debounce(CompositeSearch, 650);

            // 綁定事件到搜索欄位
            $(".selectDepartment, .selectCategoryId, .selectProjectId, .selectFormActive, .createddate").on("change", CompositeSearch);

            // 綁定事件到工單輸入欄位
            $(".fID").on("input", debouncedSearch);


            // 全部工單
            function loadAllForms() {
                $.ajax({
                    url: `/AdminQueryForms/GetAll`,
                    type: "GET",
                    success: function (data) {
                        table.clear();
                        if (Array.isArray(data) && data.length > 0) {
                            table.rows.add(data).draw();
                            updateButtonStatus();
                        } else {
                            console.log("工單查詢失敗, 請稍後再試");
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log("工單查詢失敗, 請稍後再試 : " + error);
                    }
                });
            }
        });
    </script>
}
