@using BPMPlus.ViewModels.Login
@model ForgetPasswordVM
@section Style {
    <style>
        .pdReset {
            font-size: 25px;
        }
    </style>
}
@{
    Layout = null;
}
<link rel="icon" type="image/x-icon" href="~/images/favicon.ico">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- bootstrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<!-- Theme style -->
<link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">

<title>重設密碼</title>
<div class="login-page bg-light">
    <div class="login-box">
        <div class="login-logo">
			<svg version="1.1" class="svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 width="360px" viewBox="0 0 619.874 134.355" enable-background="new 0 0 619.874 134.355"
				 xml:space="preserve">
			<style>
				.svg-icon path,
				.svg-icon ellipse {
					fill: var(--bs-primary, #3877BD);
				}
</style>
			<g id="圖層_2">
	</g>
			<g id="圖層_1">
			<g>
			<path fill="#2D66B1" d="M147.147,100.314l15.201-72.591h24.808c5.38,0,9.144,0.165,11.29,0.495
			c3.565,0.495,6.586,1.485,9.062,2.971c2.476,1.485,4.357,3.466,5.645,5.942c1.287,2.476,1.931,5.216,1.931,8.22
			c0,4.027-1.123,7.519-3.367,10.473c-2.245,2.954-5.711,5.191-10.398,6.709c3.73,1.023,6.643,2.848,8.74,5.472
			c2.096,2.624,3.144,5.588,3.144,8.889c0,4.357-1.238,8.491-3.714,12.403c-2.476,3.912-5.892,6.727-10.25,8.442
			c-4.357,1.717-10.316,2.575-17.875,2.575H147.147z M164.527,88.629h14.41c6.041,0,10.093-0.388,12.156-1.164
			c2.063-0.775,3.713-2.055,4.952-3.838c1.238-1.782,1.857-3.664,1.857-5.645c0-2.409-0.892-4.398-2.674-5.967
			c-1.782-1.567-4.753-2.352-8.913-2.352h-17.826L164.527,88.629z M171.113,57.037h11.389c5.117,0,8.797-0.363,11.042-1.09
			c2.244-0.726,3.928-1.914,5.05-3.564c1.122-1.65,1.684-3.417,1.684-5.299c0-1.848-0.528-3.367-1.584-4.556
			c-1.057-1.188-2.559-1.98-4.506-2.376c-1.089-0.198-3.714-0.298-7.873-0.298h-11.587L171.113,57.037z" />
			<path fill="#2D66B1" d="M235.386,100.314h-14.954l15.202-72.591h29.512c5.249,0,9.399,0.618,12.454,1.856
			c3.053,1.238,5.471,3.285,7.254,6.14c1.783,2.856,2.674,6.265,2.674,10.226c0,3.664-0.71,7.229-2.129,10.695
			c-1.42,3.467-3.162,6.239-5.224,8.319c-2.063,2.079-4.283,3.656-6.66,4.729c-2.376,1.073-5.579,1.891-9.606,2.451
			c-2.344,0.33-6.734,0.495-13.171,0.495h-9.557L235.386,100.314z M243.655,60.603h4.605c7.89,0,13.154-0.495,15.796-1.485
			c2.641-0.991,4.72-2.575,6.239-4.754c1.518-2.179,2.277-4.572,2.277-7.18c0-1.75-0.388-3.186-1.164-4.309
			c-0.776-1.121-1.865-1.938-3.268-2.451c-1.403-0.511-4.531-0.767-9.383-0.767h-10.695L243.655,60.603z" />
			<path fill="#2D66B1" d="M329.863,100.314h-14.162l-2.625-60.657l-11.538,60.657h-13.468l15.152-72.591h21.292l2.228,50.854
			l24.758-50.854h21.54l-15.202,72.591h-13.617l14.31-60.212L329.863,100.314z" />
			<path fill="#2D66B1" d="M387.5,100.314h-14.954l15.202-72.591h29.512c5.249,0,9.399,0.618,12.454,1.856
			c3.053,1.238,5.471,3.285,7.254,6.14c1.783,2.856,2.674,6.265,2.674,10.226c0,3.664-0.71,7.229-2.129,10.695
			c-1.42,3.467-3.162,6.239-5.224,8.319c-2.063,2.079-4.283,3.656-6.66,4.729c-2.376,1.073-5.579,1.891-9.606,2.451
			c-2.344,0.33-6.734,0.495-13.171,0.495h-9.557L387.5,100.314z M395.77,60.603h4.605c7.89,0,13.154-0.495,15.796-1.485
			c2.641-0.991,4.72-2.575,6.239-4.754c1.518-2.179,2.277-4.572,2.277-7.18c0-1.75-0.388-3.186-1.164-4.309
			c-0.776-1.121-1.865-1.938-3.268-2.451c-1.403-0.511-4.531-0.767-9.383-0.767h-10.695L395.77,60.603z" />
			<path fill="#2D66B1" d="M440.038,100.314l15.202-72.591h14.162l-15.152,72.591H440.038z" />
			<path fill="#2D66B1" d="M479.205,47.728h14.211l-6.486,31.146c-0.792,3.73-1.188,6.058-1.188,6.981
			c0,1.519,0.561,2.822,1.684,3.912c1.122,1.089,2.558,1.634,4.308,1.634c1.254,0,2.492-0.239,3.714-0.718
			c1.221-0.479,2.477-1.205,3.764-2.179s2.442-2.088,3.466-3.343c1.022-1.254,1.98-2.904,2.872-4.951
			c0.627-1.519,1.304-3.994,2.03-7.428l5.249-25.056h14.211l-10.992,52.587h-13.271l1.486-7.131
			c-5.811,5.58-12.132,8.369-18.965,8.369c-4.325,0-7.725-1.238-10.2-3.714c-2.476-2.476-3.714-5.794-3.714-9.953
			c0-1.815,0.561-5.43,1.684-10.844L479.205,47.728z" />
			<path fill="#2D66B1" d="M528.424,85.608l13.767-2.179c1.221,2.905,2.738,4.96,4.555,6.164c1.814,1.206,4.291,1.808,7.428,1.808
			c3.234,0,5.826-0.726,7.773-2.179c1.354-0.99,2.031-2.195,2.031-3.614c0-0.957-0.348-1.815-1.041-2.575
			c-0.727-0.726-2.689-1.617-5.893-2.674c-8.582-2.839-13.896-5.083-15.943-6.734c-3.203-2.575-4.803-5.942-4.803-10.102
			s1.551-7.74,4.654-10.745c4.324-4.191,10.744-6.288,19.262-6.288c6.766,0,11.883,1.237,15.35,3.714
			c3.467,2.476,5.662,5.826,6.586,10.052l-13.121,2.277c-0.693-1.914-1.816-3.35-3.367-4.308c-2.113-1.287-4.654-1.932-7.627-1.932
			c-2.971,0-5.107,0.495-6.412,1.486c-1.305,0.99-1.955,2.129-1.955,3.416c0,1.321,0.66,2.41,1.98,3.269
			c0.824,0.528,3.482,1.453,7.973,2.772c6.932,2.014,11.568,3.995,13.914,5.942c3.301,2.74,4.951,6.041,4.951,9.903
			c0,4.984-2.098,9.309-6.289,12.973c-4.191,3.665-10.102,5.497-17.727,5.497c-7.594,0-13.461-1.395-17.604-4.185
			C532.724,94.579,529.909,90.659,528.424,85.608z" />
		</g>
			<path fill="#2D66B1" d="M55.451,98.242c0.007,0,0.015,0.01,0.025,0.014l-0.023-0.092L55.451,98.242z" />
			<path fill="#2D66B1" d="M118.555,77.748c-1.694,3.539-3.771,7.01-6.24,10.346l9.803,3.516c2.961-3.842,5.477-7.848,7.533-11.939
		L118.555,77.748z" />
			<path fill="#2D66B1" d="M95.148,104.104l6.474,5.662c4.01-2.33,7.905-5.168,11.563-8.484l-8.293-4.764
		C101.816,99.451,98.541,101.99,95.148,104.104z" />
			<path fill="#2D66B1" d="M66.443,111.537c-2.903-0.313-5.707-0.996-8.365-2.047c-1.043-0.402-2.068-0.871-3.061-1.408
		c-0.857-0.453-1.691-0.943-2.508-1.484c-0.633-0.424-1.258-0.867-1.867-1.346c-0.903-0.709-1.742-1.465-2.546-2.262
		c-0.199-0.197-0.398-0.396-0.592-0.605c-1.342-1.408-2.536-2.945-3.576-4.582c-0.62-0.969-1.194-1.975-1.704-3.02
		c-0.15-0.303-0.281-0.613-0.421-0.914c-0.911-2.006-1.64-4.123-2.168-6.326c-0.324-1.348-0.579-2.73-0.763-4.137
		c-0.242-1.889-0.354-3.832-0.347-5.813c0.013-1.719,0.123-3.469,0.327-5.229c0.166-1.455,0.403-2.918,0.701-4.389
		c0.128-0.627,0.263-1.26,0.416-1.893c0.061-0.254,0.133-0.51,0.199-0.764c0.033-0.129,0.064-0.25,0.097-0.379
		c0.023-0.086,0.043-0.184,0.066-0.27c0.043-0.143,0.074-0.291,0.115-0.439c0.158-0.561,0.334-1.127,0.507-1.693
		c0.248-0.785,0.51-1.576,0.793-2.361c0.255-0.695,0.521-1.389,0.804-2.082c0.056-0.148,0.107-0.285,0.166-0.43
		c0.189-0.459,0.396-0.908,0.595-1.361c0.252-0.582,0.52-1.158,0.796-1.73c0.275-0.57,0.556-1.143,0.854-1.719
		c0.28-0.541,0.566-1.082,0.864-1.617c0.248-0.443,0.513-0.887,0.773-1.332c0.446-0.754,0.91-1.504,1.388-2.25
		c0.609-0.943,1.239-1.877,1.905-2.795c0.51-0.715,1.038-1.414,1.582-2.102c2.102-2.684,4.365-5.139,6.742-7.357
		c0.898-0.836,1.819-1.633,2.747-2.402l1.161-5.99c-1.255,1.076-2.484,2.215-3.688,3.402c-2.196,2.164-4.296,4.512-6.272,7.031
		c-0.459,0.582-0.9,1.178-1.339,1.775c-0.85,1.148-1.663,2.311-2.434,3.494c-0.666,1.016-1.301,2.047-1.908,3.076
		c-0.367,0.633-0.732,1.271-1.084,1.914c-0.388,0.709-0.768,1.428-1.13,2.148c-0.388,0.764-0.76,1.529-1.109,2.301
		c-0.339,0.738-0.661,1.475-0.967,2.213c-0.252,0.607-0.484,1.205-0.717,1.813c-0.092,0.238-0.194,0.484-0.28,0.729
		c-0.307,0.822-0.592,1.639-0.857,2.459c-0.291,0.889-0.561,1.775-0.809,2.658c-0.184,0.658-0.35,1.311-0.51,1.965
		c-0.079,0.32-0.166,0.643-0.24,0.963c-0.005,0.021-0.008,0.031-0.01,0.047c-0.074,0.316-0.13,0.627-0.196,0.939
		c-0.077,0.367-0.161,0.729-0.229,1.096c-0.148,0.75-0.276,1.5-0.393,2.256c-0.234,1.535-0.405,3.061-0.518,4.576
		c-0.133,1.811-0.179,3.602-0.138,5.361c0.056,2.021,0.222,4.006,0.51,5.949c0.22,1.484,0.503,2.943,0.86,4.373
		c0.648,2.586,1.528,5.07,2.63,7.422c0.036,0.072,0.064,0.143,0.097,0.219c0.673,1.408,1.423,2.771,2.257,4.078
		c0.969,1.514,2.046,2.953,3.242,4.305c0.429,0.49,0.862,0.969,1.319,1.434c1.025,1.035,2.115,2.021,3.278,2.93
		c0.513,0.402,1.039,0.785,1.569,1.156c0.582,0.408,1.173,0.797,1.778,1.164c1.42,0.867,2.893,1.627,4.41,2.281
		c2.982,1.279,6.135,2.143,9.397,2.611L66.443,111.537z" />
			<path fill="#2D66B1" d="M111.994,27.127c2.745,2.154,5.013,4.734,6.824,7.627l12.454-4.836c-2.245-3.953-5.188-7.453-8.842-10.326
		c-0.385-0.301-0.772-0.586-1.168-0.873L109.65,25.48C110.451,25.994,111.236,26.531,111.994,27.127z" />
			<path fill="#2D66B1" d="M68.683,27.561l3.839-7.928c-1.888,1.092-3.752,2.285-5.576,3.598l-2.434,7.039
		C65.882,29.295,67.274,28.393,68.683,27.561z" />
			<path fill="#2D66B1" d="M97.125,20.965l10.102-8.256c-3.686-0.719-7.528-0.912-11.446-0.602l-8.354,8.842
		C90.73,20.535,93.987,20.535,97.125,20.965z" />
			<path fill="#2D66B1" d="M62.591,35.832l0.554-1.604c-0.977,0.75-1.936,1.551-2.883,2.383l-0.173,0.908
		C60.91,36.924,61.744,36.361,62.591,35.832z" />
			<path fill="#2D66B1" d="M69.894,32.203l2.133-3.52c-1.816,0.893-3.607,1.902-5.365,3.045l-1.186,2.455
		C66.93,33.428,68.404,32.766,69.894,32.203z" />
			<g>
			<path fill="#2D66B1" d="M41.577,81.223c0.079,0.605,0.13,1.223,0.24,1.814l0.604-1.25c-0.112-0.412-0.186-0.846-0.283-1.27
			L41.577,81.223z" />
		</g>
			<path fill="#2D66B1" d="M41.253,74.043c-0.089,1.801-0.059,3.572,0.079,5.301l0.395-0.646
		C41.464,77.182,41.306,75.625,41.253,74.043z" />
			<path fill="#2D66B1" d="M55.594,41.234c0.801-0.756,1.625-1.475,2.462-2.158l0.018-0.418C57.229,39.484,56.4,40.342,55.594,41.234z
			" />
			<path fill="#2D66B1" d="M43.492,84.92l-0.609,2.408c0.293,0.898,0.635,1.781,1.008,2.639l0.671-2.715
		C44.043,86.277,43.896,85.957,43.492,84.92z" />
			<path fill="#2D66B1" d="M95.931,33.475l8.936-5.205c-3.612-2.197-7.676-3.463-11.967-3.855l-6.994,5.709
		C89.455,30.576,92.847,31.684,95.931,33.475z" />
			<path fill="#2D66B1" d="M108.268,50.678l9.522-1.965c-0.661-4.346-2.092-8.377-4.291-11.887l-9.729,3.779
		C105.91,43.586,107.413,46.994,108.268,50.678z" />
			<path fill="#2D66B1" d="M99.53,84.695c-1.638,2.082-3.405,3.984-5.275,5.695l5.492,3.162c2.37-2.152,4.627-4.557,6.709-7.203
		c0.071-0.092,0.138-0.189,0.209-0.281l-6.436-2.301C99.997,84.078,99.771,84.391,99.53,84.695z" />
			<path fill="#2D66B1" d="M105.204,75.436l7.408,1.287c2.082-4.092,3.577-8.285,4.5-12.434l-8.482,0.07
		C108.033,68.059,106.887,71.799,105.204,75.436z" />
			<path fill="#2D66B1" d="M62.165,100.629l2.102,5.367c2.592,0.434,5.283,0.531,8.021,0.316l-2.939-5.072
		C66.902,101.328,64.491,101.123,62.165,100.629z" />
			<path fill="#2D66B1" d="M51.518,95.701c-0.123-0.098-0.237-0.199-0.357-0.301l0.61,5.07c0.077,0.057,0.143,0.117,0.217,0.178
		c1.041,0.816,2.132,1.537,3.26,2.174l0.204-4.58C54.081,97.521,52.762,96.68,51.518,95.701z" />
			<g>
			<path fill="#2D66B1" d="M47.793,92.088c-0.617-0.729-1.181-1.494-1.709-2.279l-0.444,3.535c0.689,1.158,1.429,2.275,2.278,3.311
			L47.793,92.088z" />
		</g>
			<g>
			<path fill="#2D66B1" d="M86.666,13.709c-2.349,0.633-4.696,1.434-7.022,2.408l-5.125,8.459c1.821-0.795,3.658-1.484,5.502-2.041
			L86.666,13.709z" />
			<path fill="#2D66B1" d="M48.691,69.135L40.868,70.9c0.035-0.752,0.125-1.555,0.244-2.372l-0.126,0.026
			c-0.207,1.146-0.334,2.254-0.377,3.295l7.821-1.766l21.792-4.921c-0.141-0.253-0.262-0.521-0.343-0.813L48.691,69.135z" />
			<path fill="#2D66B1" d="M71.277,66.273c-0.169-0.097-0.322-0.213-0.463-0.34c0.306,0.413,0.681,0.773,1.145,1.039
			c0.218,0.124,0.445,0.216,0.676,0.291l-0.012-0.623C72.15,66.626,71.692,66.511,71.277,66.273z" />
			<path fill="#2D66B1" d="M75.93,58.141c0.72,0.411,1.186,1.116,1.409,1.951l0.944-0.196c-0.333-0.607-0.801-1.128-1.424-1.483
			c-0.097-0.056-0.202-0.084-0.302-0.13L74.867,30.74c1.318-0.295,2.636-0.539,3.947-0.674l4.972-5.266
			c-2.27,0.393-4.561,1-6.839,1.807l-2.158,2.862l-0.413-6.735c-0.747-0.893-0.926,0.154-0.926,0.154l0.283,15.323l1.203,19.607
			C75.282,57.871,75.619,57.963,75.93,58.141z" />
			<path fill="#2D66B1" d="M136.202,44.918l-12.663,2.611c0.157,0.945,0.269,1.908,0.359,2.878l12.585-2.618
			C136.415,46.823,136.33,45.863,136.202,44.918z" />
			<path fill="#2D66B1" d="M73.993,61.428c-0.263-0.107-0.589,0.076-0.732,0.418c-0.143,0.336-0.051,0.699,0.212,0.816
			c0.257,0.107,0.584-0.078,0.729-0.42C74.348,61.906,74.254,61.539,73.993,61.428z" />
			<path fill="#2D66B1" d="M77.263,62.683c-0.127,0.44-0.293,0.88-0.538,1.306c-0.36,0.63-0.815,1.151-1.315,1.571l1.509,24.606
			l1.972,32.191c-1.18-0.028-2.387-0.1-3.608-0.192l0.017,0.897c1.793,0.184,3.541,0.279,5.247,0.32l-0.379-6.189
			c3.381-0.414,6.798-1.175,10.197-2.311l-4.975-5.969c-1.872,0.689-3.751,1.242-5.627,1.683l-0.559-9.117l2.413,2.899
			c3.068-1.02,6.122-2.408,9.094-4.152l-4.53-3.965c-2.313,1.309-4.696,2.354-7.103,3.152l-0.504-8.223L77.04,66.173
			c0.418-0.379,0.797-0.823,1.099-1.349c0.293-0.512,0.479-1.048,0.595-1.584l45.336-10.238c0.125,3.644-0.185,7.416-0.951,11.236
			l12.112-0.102c1.051-4.738,1.509-9.437,1.383-13.968l7.285-1.646c0.325-0.457,0.348-0.753,0.25-0.944L77.263,62.683z" />
			<path fill="#FFFFFF" d="M70.22,65.163c0.161,0.288,0.353,0.553,0.594,0.771c-0.184-0.249-0.349-0.512-0.475-0.798L70.22,65.163z" />
		</g>
	</g>
	</svg>
        </div>
        <!-- /.login-logo -->
        <div>
            <p class="pdReset login-box-msg text-bold">重新設定密碼</p>
			<div class="row">
				<div class="col-7">	
					<div class="input-group mb-3">
						@Html.PasswordFor(p => p.ResetPassword, new { @class = "form-control resetPassword", placeholder = "請輸入新密碼" })
					</div>
					<div class="input-group mb-3">
						@Html.PasswordFor(p => p.ConfirmPassword, new { @class = "form-control confirmPassword", placeholder = "再次確認密碼" })
					</div>

					<!-- submit -->
					<div>
						<button id="btnSubmit" class="btn btn-primary btn-block" style="width:120px; margin:auto;">送出</button>
					</div>

					<div style="margin-top:5px;">
						<p class="login-box-msg mid">
						@Html.ActionLink("回到首頁", "Index", "Login")
						</p>
					</div>
				</div>

				<div class="col-5" style="font-size:12px;">
                    <div><p class="passwordLength">密碼8碼以上</p></div>
                    <div><p class="upper">1個大寫英文</p></div>
                    <div><p class="lower">1個小寫英文</p></div>
                    <div><p class="num">包含1個數字</p></div>
                    <div><p class="nonalphas">1個特殊符號!@@#$_+.</p></div>
                </div>
            </div>

		</div>
			<!-- /.col -->

            <!-- 隱藏的url data= 內容 -->
		<div hidden>@Html.PasswordFor(p => p.dataStr, new { @class = "dataStr", @Value=ViewBag.DataStr })</div>
	</div>
</div>




	<!-- jQuery -->
	<script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
	<!-- Bootstrap 4 -->
	<script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- Tempusdominus Bootstrap 4 -->
	<script src="~/AdminLTE/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
	<!-- AdminLTE App -->
	<script src="~/AdminLTE/dist/js/adminlte.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="~/AdminLTE/dist/js/demo.js"></script>
	<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
	<script src="~/AdminLTE/dist/js/pages/dashboard.js"></script>



	<script>
		$(document).ready(function () {
			$(".resetPassword").on('change', function () {

				let input = $(this).val();
				let isLongEnough = input.length >= 8;
				let hasUpperCase = /[A-Z]/.test(input);
				let hasLowerCase = /[a-z]/.test(input);
				let hasNumbers = /\d/.test(input);
				let hasNonalphas = /[!@@#$_+.]/.test(input);

				let cheakIcon = `<i class="fa-regular fa-circle-check icon" style="color: #15b300;"></i>`;
				let wrongIcon = `<i class="fa-regular fa-circle-xmark icon" style="color: #ff0000;"></i>`;

				$(".icon").remove();

				if (isLongEnough) {
					$(".passwordLength").append(cheakIcon);
				} else {
					$(".passwordLength").append(wrongIcon);
				}
				if (hasUpperCase) {
					$(".upper").append(cheakIcon);
				} else {
					$(".upper").append(wrongIcon);
				}
				if (hasLowerCase) {
					$(".lower").append(cheakIcon);
				} else {
					$(".lower").append(wrongIcon);
				}
				if (hasNumbers) {
					$(".num").append(cheakIcon);
				} else {
					$(".num").append(wrongIcon);
				}
				if (hasNonalphas) {
					$(".nonalphas").append(cheakIcon);
				} else {
					$(".nonalphas").append(wrongIcon);
				}
			});


			$("#btnSubmit").click(function () {
				$(this).disabled = true;

				let resetPassword = $(".resetPassword").val();
				let confirmPassword = $(".confirmPassword").val();
				let dataStr = $(".dataStr").val();

				let isLongEnough = resetPassword.length >= 8;
				let hasUpperCase = /[A-Z]/.test(resetPassword);
				let hasLowerCase = /[a-z]/.test(resetPassword);
				let hasNumbers = /\d/.test(resetPassword);
				let hasNonalphas = /[!@@#$_+.]/.test(resetPassword);

				if (isLongEnough == false) {
					alert('密碼不到8個字!');
					return;
				}
				if (hasUpperCase == false) {
					alert('密碼未包含大寫英文!');
					return;
				}
				if (hasLowerCase == false) {
					alert('密碼未包含小寫英文!');
					return;
				}
				if (hasNumbers == false) {
					alert('密碼未包含數字!');
					return;
				}
				if (hasNonalphas == false) {
					alert('密碼未包含特殊符號!');
					return;
				}

				if (confirmPassword == null) {
					alert('確認密碼不得為空!');
					return;
				}

				if (confirmPassword != resetPassword) {
					alert('請確認密碼是否輸入一致!');
					return;
				}


				$.ajax({
					url: '@Url.Action("ForgetPwResetPw", "Login")',
					type: 'POST',
					contentType: 'application/json',
					data: JSON.stringify({
						ResetPassword: resetPassword,
						ConfirmPassword: confirmPassword,
						dataStr: dataStr
					}),
					success: function (response) {
						if (response.success == false)
							// 30分鐘內重設過密碼
							if (response.code == 400) {
								alert(response.message);
							window.location.replace("/Home/Index");
							}else
							{ 
							alert(response.message);
							resetPassword = "";
							confirmPassword = "";
						}
						else{
							alert(response.message);
							window.location.replace("/Home/Index");
						}
					}

				});

				});

		});

	</script>