@using BPMPlus.ViewModels.Login
@model ForgetPasswordVM
@section Style {
    <style>
        .pdReset {
            font-size: 25px;
        }
    </style>
}
@{
    Layout = null;
}
<!-- Font Awesome -->
<link rel="stylesheet" href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css">
<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<!-- Theme style -->
<link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">

@using (Html.BeginForm("ForgetPwResetPw", "Login", FormMethod.Post))
{
    <div class="login-page bg-light">
    <div class="login-box">
        <div class="login-logo">
            <img src="~/images/bpmplus.png" alt="" class="mb-3" style="width:20rem;">
        </div>
        <!-- /.login-logo -->
        <div>
            <p class="pdReset login-box-msg text-bold">重新設定密碼</p>
            <div class="input-group mb-3">
            @Html.PasswordFor(p => p.ResetPassword, new { @class = "form-control", placeholder = "請輸入新密碼" })
                <div class="input-group-append">
                    <div class="input-group">
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                @Html.PasswordFor(p => p.ConfirmPassword, new { @class = "form-control", placeholder = "再次確認密碼" })
                <div class="input-group-append">
                    <div class="input-group">
                    </div>
                </div>
            </div>
                <div class="row">
                    <!--顯示錯誤訊息 -->
                    <div style="color:red;">
                    @ViewBag.errMsg
                    </div>

                    <!-- 修改成功 -->
                    <div style="color:blue;">
                        <p>@TempData["SuccessMessage"]</p>
                    </div>

                    <!-- 隱藏的url data= 內容 -->
                    <div hidden>
                        @Html.PasswordFor(p => p.dataStr, new { @Value = ViewBag.DataStr })
                    </div>

                    <!-- submit -->
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">送出修改</button>
                        </div>
                    </div>

                    <div hidden>
                        <p class="login-box-msg mid ">
                            @Html.ActionLink("回到首頁", "Index", "Login")
                        </p>
                    </div>
                        
                    <!-- /.col -->
                </div>
        </div>
    </div>
</div>

}


<!-- jQuery -->
<script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="~/AdminLTE/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>$.widget.bridge('uibutton', $.ui.button)</script>
<!-- Bootstrap 4 -->
<script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- jQuery Knob Chart -->
<script src="~/AdminLTE/plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="~/AdminLTE/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- AdminLTE App -->
<script src="~/AdminLTE/dist/js/adminlte.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/AdminLTE/dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="~/AdminLTE/dist/js/pages/dashboard.js"></script>


@section Scripts
{
    <script>
        
    </script>
}