@using BPMPlus.ViewModels.Login
@model ChangePasswordVM
@section Style {
    <style>
        .pdReset {
            font-size: 25px;
        }
    </style>
}

@using (Html.BeginForm("ResetPassWord", "Login", new { ReturnUrl = Context.Request.Query["ReturnUrl"] }, FormMethod.Post, true, new { name = "loginForm", autocomplete = "off" }))
{
    <div id="app">
        <div class="login-page bg-light">
            <div class="login-box">
                <div class="login-logo">
                    <img src="" alt="" class="mb-3" style="width:20rem;">
                </div>
                <!-- /.login-logo -->
                <div>
                    <p class="pdReset login-box-msg text-bold">重新設定密碼</p>
                    <div class="input-group mb-3">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "請輸入舊密碼" })
                        <div class="input-group-append">
                            <div class="input-group">
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "請輸入新密碼" })
                        <div class="input-group-append">
                            <div class="input-group">
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "再次輸入新密碼" })
                        <div class="input-group-append">
                            <div class="input-group">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- /.col -->
                        <div class="col-4">
                            <button id="btnSubmit" type="submit" class="btn btn-primary btn-block">送出修改</button>
                        </div>
                        <!-- /.col -->
                        <!--顯示錯誤訊息 -->
                        <div style="color:red;">
                            @ViewBag.errMsg
                        </div>
                        <!-- /錯誤訊息 -->

                        <!-- 修改成功 -->
                        
                        <div style="color:Green;">
                            <p>@TempData["SuccessMessage"]</p>
                        </div>
                        <!-- /修改成功 -->
                    </div>
                </div>

            </div>
        </div>

    </div>
}

@section Scripts
{
    <script>
        // $("#btnSubmit").click(function (e) {
        //     alert("密碼修改成功! 將登出後跳轉至首頁!")    //按了就會跳alert, 假的
        // })
    </script>
}