@using BPMPlus.Controllers
@using BPMPlus.ViewModels.Login
@model ChangePasswordVM
@section Style {
    <style>
        .pdReset {
            font-size: 25px;
        }
        .tips{
            color:red;
            display:none;
            font-size:12px;
        }
    </style>
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico">
}

<form asp-action="ResetPassWord" method="post">
    <div id="app">
        <div class="login-page bg-light">
            <div class="login-box">
                <div class="login-logo">
                    <img src="" alt="" class="mb-3" style="width:20rem;">
                </div>
                <!-- /.login-logo -->
                <div>
                    <p class="pdReset login-box-msg text-bold">重新設定密碼</p>
                    <div class="input-group mb-3">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control OldPaswword", placeholder = "請輸入舊密碼" })
                    </div>

                    <div class="input-group" style="font-size:12px;">
                        <p>密碼8碼以上, 並包含1個數字.1個大寫英文.1個小寫英文以及1個特殊符號!@@#$_+.</p>
                    </div>
                    <div class="input-group mb-3">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control NewPassword", placeholder = "請輸入新密碼" })
                    </div>
                    <div class="text-danger text">
                        
                    </div>
                    <div class="input-group mb-3">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control ConfirmPassword", placeholder = "再次輸入新密碼" })
                    </div>

                    <!--錯誤訊息 -->
                    <div style="color:red;">
                        @ViewBag.errMsg
                    </div>
                    <!-- 修改成功 -->
                    <div style="color:blue;">
                        <p>@TempData["SuccessMessage"]</p>
                    </div>

                    <div class="row">
                        <!-- /.col -->
                        <div class="col-4"></div>
                        <div class="col-4">
                            <button id="btnSubmit" type="submit" class="btn btn-primary btn-block">送出修改</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </div>

            </div>
        </div>

    </div>

</form>


@section Scripts
{
    <script>

        // let newPassword = $(".NewPassword").val();
        // let confirmPassword = $(".ConfirmPassword").val();
        // const hasUpperCase = /[A-Z]/.test(newPassword);
        // const hasLowerCase = /[a-z]/.test(newPassword);
        // const hasNumbers = /\d/.test(newPassword);
        // const hasNonalphas = /[!@@#$_+.]/.test(newPassword);

        // $(document).ready( () => {
        //     $(".NewPassword").on('change', () => {
        //         if (newPassword.length < 8) {
        //             $(".text1").show();
        //             return false;
        //         } else {
        //             $(".text1").css("display:none;");
        //             return true;
        //         }
                // if (!hasUpperCase) {
                //     $(".text2").show();
                //     return false;
                // } else { 
                    
                // }
                // if (!hasLowerCase) {
                //     alert("密碼未包含小寫字母!");
                //     return false;
                // } else if (!hasNumbers) {
                //     alert("密碼未包含數字!");
                //     return false;
                // } else if (!hasNonalphas) {
                //     alert("密碼未包含特殊符號");
                //     return false;
                // } else {
                //     return true;
                // }
            });


        });

    </script>
}