@model BPMPlus.Models.User

@{
	ViewData["Title"] = "Edit";
}
@section Style {
	<style>
		.title {
			color: rgb(255, 215, 0);
			font-weight: bold;
			margin-bottom: 29px;
			margin-top: 8px;
		}

		.content-wrapper {
			background-image: linear-gradient(135deg, #fdfcfb 0%, #ffeddd 100%);
		}
		
		.card{
			padding-bottom: 20px;
		}

		.item-name {
			padding-right: 1%;
			width: 28%;
		}

		.item-value {
			width: 0%;
		}

		.button {
			width:12%;
		}

		.btn-link {
			color: white;
		}

		.button-icon {
			width: 20%;
		}

		.process-node {
			background-color: rgb(232, 244, 255);
			height: 200px;
		}

		textarea {
			resize: none;
		}

		.txt-box {
			width: 50%;
		}

		.selection {
			width: 50%;
		}

		.date {
			width: 50%;
		}

		.content {
			padding: 13px;
		}

		.form-group {
			display: flex;
		}

		table {
			text-align: center;
			line-height: 1.5;
		}

		button.btn.btn-success {
			width: 90px;
		}

	</style>
}
<div class="wrapper backcolor">

	<section class="content" id="app">
		<div class="container-fluid">
			<h2 class="title">
				人員修改
			</h2>

			<div class="card card-default ">
				<div style="margin-left:auto;">

					<button class="btn btn-warning" style="color:black" onclick="location.href='@Url.Action("Index")'"> 返回</button>
				</div>
				<div class="col-md-12">
					<template v-if="informationDepartment">
						<div class="card-body">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="item-name">人員編號</label><input class="form-control txt-box" disabled v-model="formData.UserId">
									</div>
									<!-- /.form-group -->
									<div class="form-group">
										<label asp-for="DepartmentId"  class="item-name">所屬部門</label>
										<select disabled class="form-control select1 selection" asp-items="@ViewBag.Department" asp-for="DepartmentId" v-model="formData.DepartmentId">
										</select>
									</div>
									<div class="form-group" style="display:flex">
										<label asp-for="TEL" class="item-name">聯繫電話</label><input class="form-control txt-box" disabled v-model="formData.Tel">
									</div>
									<div class="form-group">
										<label asp-for="UserIsActive" class="item-name">是否在職</label>
										<input class="form-control txt-box" disabled v-model="formData.UserIsActive" />
									</div>


									<!-- /.form-group -->
								</div>
								<!-- /.col -->
								<div class="col-md-6">

									<div>
										<div class="form-group" style="display:flex">
											<label class="item-name">人員姓名</label><input class="form-control txt-box" disabled v-model="formData.UserName">

										</div>
										<div class="form-group">
											<label class="item-name">職位</label> <select disabled class="form-control select3 selection" asp-items="@ViewBag.Grade" asp-for="GradeId" v-model="formData.GradeId">
											</select>
							
										</div>
										<div class="form-group">
											<label class="item-name">Email</label><input disabled class="form-control txt-box" v-model="formData.Email">
										</div>
										<div class="form-group">
											<label class="item-name">新增權限</label>
											<select class="form-control txt-box" v-model="selectPermission">
												<option v-for="permission in permissions" :value="permission.Value">
													{{ permission.Text }}
												</option>
											</select>
											<button class="btn btn-success" @@click="PermissionIncrease">新增</button>
										</div>


									</div>
								</div>

								<!-- /.row -->
							</div>
							<div class="row">
								<div class="col-md-6">
									<label class="item-name">目前擁有的權限</label>
									<div v-for="permission in addPermissions" style="display:flex">
										<p class="txt-box form-control" style="width:100%">{{permission.Text}}</p>
										<button class="btn btn-danger" style="width:9vw;height:80%" @@click="PermissionDelete(permission.Value)">刪除</button>
									</div>
								</div>

							</div>
						</div>
					</template>
					<template v-else>
						<div class="card-body">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="item-name">人員編號</label><input class="form-control txt-box" disabled v-model="formData.UserId">
									</div>
									<!-- /.form-group -->
									<div class="form-group">
										<label asp-for="DepartmentId" class="item-name">所屬部門</label>
										<select class="form-control select1 selection" asp-items="@ViewBag.Department" asp-for="DepartmentId" v-model="formData.DepartmentId">
										</select>
									</div>
									<div class="form-group" style="display:flex">
										<label asp-for="TEL" class="item-name">聯繫電話</label><input class="form-control txt-box" v-model="formData.Tel">
									</div>
									<div class="form-group">
										<label asp-for="UserIsActive" class="item-name">是否在職</label>
										<select class="form-control select2 selection" asp-items=@(new SelectList(ViewBag.UserIsAction, "Value", "Text")) asp-for="UserIsActive" v-model="formData.UserIsActive">
										</select>

									</div>


									<!-- /.form-group -->
								</div>
								<!-- /.col -->
								<div class="col-md-6">

									<div>
										<div class="form-group" style="display:flex">
											<label class="item-name">人員姓名</label><input class="form-control txt-box" v-model="formData.UserName">

										</div>
										<div class="form-group">
											<label class="item-name">職位</label> <select class="form-control select3 selection" asp-items="@ViewBag.Grade" asp-for="GradeId" v-model="formData.GradeId">
											</select>
										</div>
										<div class="form-group">
											<label class="item-name">Email</label><input class="form-control txt-box" v-model="formData.Email">
										</div>



									</div>
								</div>

								<!-- /.row -->
							</div>
							<div class="row">
								<div class="col-md-6">
									<label class="item-name">目前擁有的權限</label>
									<div v-for="permission in addPermissions" style="display:flex">
										<p class="txt-box form-control" style="width:100%">{{permission.Text}}</p>				
									</div>
								</div>

							</div>
						</div>
					</template>
				</div>
				<div style="margin:auto">
					<button class="btn btn-success" @@click="formSubmit">送出修改</button>
				</div>

			</div>
		</div>
	</section>

</div>


@section Scripts {
	<script src="https://unpkg.com/vue@latest"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script>

		const vueApp = {
			data() {
				return {
					informationDepartment:'',
					baseAddress: "https://localhost:7129/Users",
					selectPermission: '',
					addPermissions: [],
					formData: {
						UserId:'@Html.Raw(Model.UserId)',
						UserName:'@Html.Raw(Model.UserName)',
						Tel:'@Html.Raw(Model.TEL)',
						GradeId:'@Html.Raw(Model.GradeId)',
						DepartmentId:'@Html.Raw(Model.DepartmentId)',
						UserIsActive:'@Html.Raw(Model.UserIsActive)',
						Email:'@Html.Raw(Model.Email)',
						permissions: [],

					}
				};
			},
			methods: {
				PermissionIncrease() {
					// alert("新增權限")
					let _this = this;
					let selected = _this.permissions.find(p => p.Value === _this.selectPermission);
					if (selected) {
						let repeatPermission = _this.addPermissions.some(p => p.Value === selected.Value);
						if (repeatPermission) {
							alert("已經存在此權限");
						}
						else {
							_this.addPermissions.push(selected);
							_this.selectPermission = '';
							alert("新增成功")
						}

					} else {
						alert("請選擇一個權限");
					}
				},
				PermissionDelete(e) {
					let _this = this;
					let selected = _this.addPermissions.findIndex(p => p.Value === e)
					_this.addPermissions.splice(selected, 1);
					alert("刪除成功")
				},
				formSubmit() {
					let _this = this;
					if (_this.formData.UserName || _this.formData.Tel || _this.formData.GradeId || _this.formData.DepartmentId || _this.formData.Email == "") {
						if (_this.formData.UserName == '') { window.alert("姓名不可為空"); return; }
						if (_this.formData.DepartmentId == '') { window.alert("尚未填選所屬部門"); return; }
						if (_this.formData.Tel == '') { window.alert("尚未填寫連絡電話"); return; }
						if (_this.formData.GradeId == '') { window.alert("尚未填選職位"); return; }
						if(_this.formData.Email==''){window.alert("尚未填選信箱"); return; }
					}
					if (_this.addPermissions.length === 0) {
						window.alert("尚未填選權限");
						return;
					}
					_this.formData.permissions = _this.addPermissions.map(p => p.Value);
					axios.post(`${this.baseAddress}/Edit`, JSON.stringify(_this.formData), {
						headers: {
							'Content-Type': 'application/json'
						}
					})
						.then(response => {
							this.items = response.data;
							alert("修改成功");
							window.location.href = `${_this.baseAddress}`;
						})
						.catch((error) => console.log(error));
				},


			},
			mounted() {
				let _this = this;
				_this.permissions = JSON.parse('@Html.Raw(ViewBag.PermissionGroup)');
				_this.addPermissions = JSON.parse('@Html.Raw(ViewBag.userPermission)');
				_this.informationDepartment = '@Html.Raw(ViewBag.InformationDepartment)';
			},

		}

		var app = Vue.createApp(vueApp).mount('#app');

	</script>
}
