@model BPMPlus.Models.Form

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Form</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedFinishedDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedFinishedDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HandleDepartmentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HandleDepartmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessNode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessNode.ProcessNodeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormIsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormIsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.man_day)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.man_day)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FormId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
