@model BPMPlus.ViewModels.QueryProjectsViewModel


@section Style
{
    <link rel="stylesheet" href="~/font-awesome/css/all.css" />
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" asp-append-version="true" />

    <style>
        .content-wrapper {
            background-image: linear-gradient(120deg, #ffffff 0%, #0079ff2e 100%);
        }

        .outside {
            padding: 20px;
        }

        .title {
            color: rgba(0, 81, 255, 0.884);
            font-weight: bold;
        }

        .inside {
            background-color:white;
            margin-top:30px;
            padding: 20px;
            border-radius:0.25rem;
            box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
        }

        .groupLabel {
            display: inline-block;
            width: 100px;
            height: 30px;
            line-height: 30px;
            background-color: #458bfc;
            color: white;
            text-align-last: center; /* label的text-align要加last */
        }

        .groupInput {
            margin: 10px auto;
        }

        table {
            text-align: center;
            width:100%;
        }

        .projectArea {
            margin: 5px auto;
        }

        #btnQuery {
            font-weight: 600;
        }

        #employeeId{
           padding-left:5px
        }


    </style>
}

<div class="outside">


    <h2 class="title">查詢專案</h2>

    <div class="inside">

        <div class="row groupInput">
            <div class="col-6">
                <label class="groupLabel">專案名稱</label> <input id="projectName" placeholder="請輸入專案名稱" />
            </div>
            <div class="col-6">
                <label class="groupLabel">專案編號</label> <input id="projectId" placeholder="請輸入專案編號" />
            </div>
          
        </div>

        <div class="row groupInput">
            <div class="col-6">
                <label class="groupLabel">參與員工</label>
                <input placeholder="請選擇員工" list="employeeId" id="employeeList" />
                <datalist id="employeeId" autocomplete="off" >
                    <@* option value="">--請選擇員工--</option> *@
                    @foreach (var employee in Model.QueryProjectsSearchEmployees)
                    {
                        <option value="@employee.EmployeeId">@employee.EmployeeName</option>
                    }
                </datalist>
            </div>
            <div class="col-6">
                <button class="btn btn-primary" id="btnQuery">查詢專案</button>
            </div>
        </div>


        <div>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>專案編號</th>
                        <th>專案名稱</th>
                        <th>專案概要</th>
                        <th>專案期限</th>
                        <th>專案經理</th>

                    </tr>
                </thead>
               
            
                @*  <tbody>
                @foreach (var project in Model.QueryProjectsProjectContents)
                {
                <tr>

                <td>@project.ProjectName</td>
                <td>@project.ProjectId</td>
                <td>@project.Summary</td>
                <td>@project.DeadLine</td>
                <td>@project.ProjectManager</td>
                </tr>
                }
                </tbody> *@
            </table>
        </div>

    </div>


</div>





@section Scripts
{
    <script src="~/lib/datatables/js/jquery.datatables.min.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/fixedheader/3.3.2/js/dataTables.fixedHeader.min.js"></script>

    <script>

        $(document).ready(function () {
            // alert("ready");
            $("table").dataTable({
                "autoWidth": false,
                "responsive": true,
                "searching": false,
                ajax: {
                    type: "GET",
                    url: "/QueryProjects/IndexJson",
                    dataSrc: function (data) {
                        return data;
                    },
                },
                columns: [
                    {
                        "data": "projectId",
                        "orderable": true,
                        "render": function (data, type, row, meta) {
                            // 將 projectId 動態放入鏈接中
                            return `<a href='/ProjectCRUD/ProjectDetails/${row.projectId}' target='_blank'>${row.projectId}</a>`;
                        }
                    },
                    { "data": "projectName" },
                    { "data": "summary" },
                    { "data": "deadLine" },
                    { "data": "projectManager" },
                ],
                "order": [[0, 'desc']], 
                fixedHeader: {
                    header: true
                },
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.1.6/i18n/zh-HANT.json',
                },
            });
        });

      


        $("#btnQuery").click(function () {

            let projectId = $("#projectId").val();
            let projectName = $("#projectName").val();
            let employeeDepartmentName = $("#employeeDepartmentName").val();
            let employeeId = $("#employeeList").val();

            let projectData = {
                "ProjectId": projectId,
                "ProjectName": projectName,
                "EmployeeDepartmentName": employeeDepartmentName,
                "EmployeeId": employeeId
            };

            $.ajax({
                type: "POST",
                url: "/QueryProjects/Filter",
                contentType: 'application/json',
                data: JSON.stringify(projectData),
                success: function (response) {


                    if (response.data) {
                        let model = response.data;

                        // 若有初始化要先銷毀
                        if ($.fn.dataTable.isDataTable('table')) {
                            $("table").DataTable().clear().destroy();
                        }

                        // 初始化或重新加載 DataTable
                        $("table").DataTable({
                            "autoWidth": false,
                            "responsive": true,
                            "searching": false,
                            "processing": true,  // 顯示加載
                            "data": model,  // 前面返回的model
                            "columns": [
                                {
                                    "data": "projectId",
                                    "orderable": true,
                                    "render": function (data, type, row, meta) {
                                        // 將 projectId 動態放入鏈接中
                                        return `<a href='/ProjectCRUD/ProjectDetails/${row.projectId}' target='_blank'>${row.projectId}</a>`;
                                    }
                                },
                                { "data": "projectName" },
                                { "data": "summary" },
                                { "data": "deadLine" },
                                { "data": "projectManager" }
                            ],
                            "order": [[0, 'desc']], 
                            "fixedHeader": {
                                "header": true
                            },
                            "language": {
                                "url": '//cdn.datatables.net/plug-ins/2.1.6/i18n/zh-HANT.json'
                            }
                        });
                    } else {
                        alert("查無資料");
                        
                       
                    }
                },
                error: function (response) {
                    alert("搜尋失敗");
                }
            });
        });

 
        
    
    </script>
}